{{#each last}}
    <div id="accueil">
        <h1>Derniers résultats</h1>
        <span><b>{{this.gpnom}} du {{this.DATE}}</b></span><br/>
        <span>Mise à jour le  : {{this.DATEMAJ}}</span><br />
        <span><a href="detailGrandPrix/{{this.gpnum}}">Voir les résultats</a></span>
    </div>
{{/each}}