    body {
        font-family: "Segoe UI", "DejaVu Sans", Verdana, sans-serif;
        background: url('/image/fond.jpg') repeat;
        font-size: 0.8em;
        margin: 0;
        padding: 0;
        text-align: center;
        color: #000000;
    }
    
    .monBody #container {
        width: 900px;
        margin: 0 auto;
        text-align: left;
        background: #ffffff;
    }
    
    .monBody #header {
        height: 300px;
    }
    
    .monBody #menu {
        height: 22px;
        color: #ffffff;
        font-size: 1.4em;
        background: #000000;
    }
    
    .monBody #contenu {
        padding: 20px;
    }
    
    .monBody #footer {
        padding: 0 10px;
        font-size: 0.8em;
        text-align: center;
        height: 150px;
        background: url(/image/footer.jpg) no-repeat;
    }
    
    #menu a {
        color: #ffffff;
        text-decoration: none;
    }
    
    #menu {
        text-align: center;
    }
    
    #LogoNode {
        max-height: 20%;
        max-width: 20%;
    }
    
    .tabpayscir {
        float: right;
        padding: 10px;
        border: 1px solid black;
        margin: 10px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }
    
    .myboth {
        clear: both;
    }
    
    a {
        text-decoration: none;
        color: #0072ff;
    }
    
    .lienNotFound {
        align: center;
        style:"background-color: #1d81b1;color: #FFFFFF;text-transform: uppercase;";
    }
    
    .photoNotFound {
        max-height: 40%;
        max-width: 40%;
    }

    /* DÉBUT CSS PARTIE PUBLIQUE */
    
    #ligne {
        display: inline-block;
    }
    
    .portrait {
        width: 10em;
        height: 10em;
        margin: 1em;
    }
    
    #pilEG {
        display: inline-block;
        width: 15%;
    }
    
    #pilEG img {
        width: 100%;
    }
    
    #pilG {
        display: inline-block;
        width: 50%;
        padding-left: 1em;
        vertical-align: top;
    }
    
    #pilD {
        display: inline-block;
        width: 30%;
        vertical-align: top;
    }
    
    #pilTop {
        margin-top: 2em;
        width: 100%;
    }
    
    #cirTop,
    #ecuTop {
        width: 100%;
    }
    
    #cirG,
    #ecuG {
        display: inline-block;
        width: 35%;
    }
    
    #cirG img,
    #ecuG img {
        width: 100%;
    }
    
    #cirM,
    #ecuM {
        width: 60%;
        margin-left: 1em;
        display: inline-block;
        vertical-align: top;
    }
    
    #cirLeft,
    #ecuLeft {
        width: 80%;
        display: inline-block;
    }
    
    #pilTop #pilG label b {
        margin-bottom: 1em;
    }
    
    .imgPays {
        width: 32px;
        height: 32px;
    }
    
    .imgVoiture {
        width: 60%;
        display: inline-block;
    }
    /* CSS INFOBULLE */
    /* https://www.scriptol.fr/css/infobulle.php */
    
    .tooltip {
        text-decoration: none;
        position: relative;
    }
    
    .tooltip span {
        display: none;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        color: black;
        background: white;
    }
    
    .tooltip span img {
        float: left;
        margin: 0px 8px 8px 0;
    }
    
    .tooltip:hover span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        width: auto;
        max-width: 320px;
        min-height: 128px;
        border: 1px solid black;
        margin-top: 12px;
        margin-left: 32px;
        overflow: hidden;
        padding: 8px;
    }
    /* FIN CSS INFOBULLE */
    
    #resultGPLeft {
        display: inline-block;
        width: 70%;
    }
    
    #resultGPTab,
    #resultGPTab td,
    #resultGPTab th {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        padding: 7px;
    }

    #accueil{
        border: 2px solid black;
        border-radius: 15px;
        margin: 0 30% 0 30%;
        padding: 1em;
        width: 40%;
    }

    #accueil h1{
        text-align: center;
        text-decoration: underline black;
    }

    #resuDesc{
        text-align: justify;
    }

    /* FIN CSS PARTIE PUBLIQUE */

    /* DÉBUT CSS PARTIE ADMIN */

    #ligne {
        display: inline-block;
    }
    
    #gestionPilotes, #gestionPilotes th, #gestionPilotes td,
    #gestionCircuits, #gestionCircuits th, #gestionCircuits td,
    #gestionEcurie, #gestionEcurie th, #gestionEcurie td,
    #gestionSponsors, #gestionSponsors th, #gestionSponsors td {
        border: 1px solid black;
        padding: 7px;
    }

    #gestionPilotes,
    #gestionCircuits,
    #gestionEcurie,
    #gestionSponsors{
        border-collapse: collapse;
        margin-left: 20%;
    }

    #gestionSponsors{
        margin-left: 30%;
    }

    #gestionPilotes th,
    #gestionCircuits th,
    #gestionEcurie th,
    #gestionSponsors th{
        text-align: center;
    }

    .banniere{
        text-align: center;
    }

    #formLeft, #formRight{
        display: inline-block;
        width: 30%;
    }

    #ajoutPil, #ajoutCir{
        margin-left: 20%;
    }

    #ajoutSponsor{
        margin-left: 30%;
    }

    #ajoutPil label,
    #ajoutSponsor label{
        font-weight: bold;
        padding: 0 3em 0 0;
    }

    #submitAjoutPilote,
    #submitAjoutCircuit,
    #submitAjoutEcurie,
    #submitResultats,
    #submitResu,
    #submitAjoutSponsor,
    .photoModifAction,
    #submitConnexion{
        background-color: red;
        color: white;
        padding: 7px;
        margin-top: 3em;
    }

    #submitResu{
        margin: 0;
    }

    .dateNaissForm{
        width: 4em;
        margin-right: 5px;
    }


    #desc{
        width: 30em;
        height: 7em;
    }

    #imgCircuitModif,
    #imgEcurieModif{
        width: 20%;
    }

    #adrSiege{
        height: 4em;
        width: 21em;
    }

    #tabResu td {

        border: 1px solid black;
        padding: 7px;
    }

    #tabResu{
        border-collapse: collapse;
        margin-left: 20%;
        font-size: 1.2em;
    }

    #tabResu th{
        text-align: center;
    }

    .inputTemps{
        width: 3em;
    }

    .photosModif{
        width: 60%;
    }

    #tablePhotosModif tr td,
    #tablePhotosModif tr th{
        text-align: center;
        border: 1px solid black;
    }

    #tablePhotosModif{
        border-collapse: collapse;
    }

    .photosPetit{
        width: 20%;
    }

    #connexionForm{
        padding-left: 30%;
    }

    #fondNoirAdmin{
        background-color: #000000;
        color: white;
        padding: 10em;
    }

    /* FIN CSS PARTIE ADMIN */
