<!DOCTYPE html>
<html lang="fr">

<head>
	<title> {{title}}</title>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/x-icon" href="/image/favicon.png" />

	<link rel="stylesheet" href="/css/structure.css" />
	<script src="/lightbox2/dist/js/lightbox-plus-jquery.js"></script>

	<link href="/lightbox2/src/css/lightbox.css" rel="stylesheet" />

	{{#if session.connected}}
	{{else}}
		{{#if connexion}}
		{{else}}

		<meta http-equiv="refresh" content="0; URL=/">
		{{/if}}
	{{/if}}
</head>

<body class="monBody">
<div id="container">
	<div id="header">
	<img src="/image/staff_admin.jpg" alt="WROOM l'encyclopédie de la F1" />
	</div>
	<div id="menu">
		<a href="/gestionPilotes">PILOTES</a> |
		<a href="/gestionCircuits">CIRCUITS</a> |
		<a href="/gestionEcuries">ÉCURIES</a> |
		<a href="/gestionResultats">RESULTATS</a> |
		<a href="/gestionSponsors">SPONSORS</a> |
		<a href="/connexion">Dé·Connexion</a> |
		<a href="/accueil" onmouseover="javascript:event.target.port=6800">Retour au site</a>
	</div>
	<div id="contenu">
		<br/>
		<br/>

		{{!-- Pour éviter la prévisualisation des pages sans connexion,
			  On n'affiche le body que sur la page de connexion ou si connexté --}}

		{{#if session.connected}}
			{{{body}}}
		{{else}}
			{{#if connexion}}
				{{{body}}}
			{{else}}
			{{/if}}
		{{/if}}
	</div>
				<div id="footer">
					L'encyclopédie de la F1 depuis janvier 2020 (en NodeJS)
					<br />
					© IUT du Limousin DUT Informatique année 2
					<br />
					<br />
                Appllication réalisée par Quentin DELAGE
                <br />
					<img src="/image/nodejs.png" id= "LogoNode" alt="Logo NodeJs" title="Logo Node.JS" />
			</div>

</div>
</body>
</html>
