
<div class="banniere">
    <img src="/image/cat_sponsor.png" alt="logo">
    {{#if sponsors}}

    <h1>Gestion des Sponsors</h1>

    <a href="/gestionSponsors/Ajout"><img src="/image/act_add.png" alt="logoAjout"> Ajouter un sponsor</a>
    
    {{else}}
    {{#if sponsor}}
    <h1>Modifier un sponsor</h1>
    {{else if suppression}}
    <h1>Supprimer un sponsor</h1>
    {{else}}
    <h1>Ajouter un sponsor</h1>
    {{/if}}

    {{/if}}


</div>


<br /><br />


{{#if sponsors}}
<table id="gestionSponsors">
    <tr>
        <th>Nom</th>
        <th>Activité</th>
        <th>Actions</th>
    </tr>
    {{#each sponsors}}
    <tr>
        <td>{{this.sponom}}</td>
        <td>{{this.sposectactivite}}</td>
        <td>
            <a href="/gestionSponsors/ModifierSponsor/{{this.sponum}}"><img src="/image/act_edit.png" alt="logoModification"> Modifier</a>
            <a href="/gestionSponsors/SupprimerSponsor/{{this.sponum}}"><img src="/image/act_delete.png" alt="logoSuppression"> Supprimer</a>
        </td>
    </tr>
    {{/each}}
</table>
{{else if ecuries}}

{{#if sponsor}}
<form action="/gestionSponsors/ModifierSponsor" method="POST" id="ajoutSponsor">
{{else}}
<form action="/gestionSponsors/AjoutSponsor" method="POST" id="ajoutSponsor">
{{/if}}

    <table>
        <tr>
            <td><label>Nom</label></td>
            <td><input type="text" name="nom"{{#if sponsor}}
                value="{{sponsor.sponom}}"
                {{/if}}></td>
        </tr>
        <tr>
            <td><label>Secteur d'activités</label></td>
            <td><input type="text" name="activite" {{#if sponsor}}
                value="{{sponsor.sposectactivite}}"
                {{/if}}></td>
        </tr>
        <tr>
            <td><label>Écurie·s sponsorisée·s</label></td>
            {{!-- <td>
                <select name="ecurie">
                    {{#each ecuries}}
                    <option value="{{this.ecunum}}" {{#ifCond this.ecunum '==' ../ecurieSponsorisee}} selected {{/ifCond}}>{{this.ecunom}}</option>
                    {{/each}}
                </select>
            </td> --}}
            <td>
                {{#each ecuries}}
                    <input type="checkbox" name="ecurie" value="{{this.ecunum}}" {{#each ../ecurieSponsorisee}} 
                        {{#ifCond this.ecunum '==' ../this.ecunum}} checked {{/ifCond}}
                        {{/each}}>
                    <label for="ecurie">{{this.ecunom}}</label><br>
                {{/each}}
                
            </td>
        </tr>
        <tr>
            <td></td>
            {{#if sponsor}}
            <td><input id="submitAjoutSponsor" type="submit" value="MODIFIER"></td>
            {{else}}
            <td><input id="submitAjoutSponsor" type="submit" value="AJOUTER"></td>
            {{/if}}
        </tr>
    </table>

    <input hidden name="id" value="{{sponsor.sponum}}">


</form>
{{else}}
<div class="banniere">
    <h2>Modification effectuée</h2>
</div>
{{/if}}