<div class="banniere">
    <img src="/image/cat_pilote.png" alt="catégorie photos">
    <h1>Gestion des photos des pilotes</h1>
</div>

{{#if modif}}
<div class="banniere">

    <h2>Modification effectuée</h2>

    <a class="photoModifAction" href="/gestionPilotes/ModifierPhotos/{{pilnum}}">Retour</a><br /><br />

</div>

{{else}}

<form id="formPhotos" action="/gestionPilotes/ModifierPhotos/{{id}}/Modifier" method="POST" enctype="multipart/form-data">


    <table id="tablePhotosModif">
        <tr>
            <th class="photosPetit">Photo</th>
            <th class="photosPetit"></th>
            <th>Métadonnées</th>
            <th>Actions</th>
        </tr>

        {{#each photos}}
        
        <tr>
            <td class="photosPetit"><img class="photosModif" src="/image/pilote/{{this.phoadresse}}" alt="Image actuelle" ></td>
            <td class="photosPetit">
                <label>Modifier</label> :<br />
                <label>Sujet</label> :<br />
                <label>Commentaire</label> :<br />
            </td>
            <td>
                <input name="imgOriginale{{this.phonum}}" hidden type="text" value="{{this.phoadresse}}"><br />
                <input name="img{{this.phonum}}" type="file"><br />
                <input name="sujet{{this.phonum}}" type="text" value="{{this.phosujet}}"><br />
                <input name="comm{{this.phonum}}" type="text" value="{{this.phocommentaire}}"><br />
            </td>
            <td class="photosPetit">
                <input type="button" name="act" value="Modifier" class="photoModifAction" onclick="changePhonum({{this.phonum}});">
                {{#ifCond this.phonum "==" 1}}
                {{else}}
                <input type="submit" name="act" value="Supprimer" class="photoModifAction" onclick="suppPhoto({{this.phonum}});">
                {{/ifCond}}
            </td>
        </tr>
        
        {{/each}}

        {{!-- Pour ajouter une photo --}}
        <tr>
            <td class="photosPetit"></td>
            <td class="photosPetit">
                <label>Photo</label> :<br />
                <label>Sujet</label> :<br />
                <label>Commentaire</label> :<br />
            </td>
            <td>
                <input name="img0" type="file"><br />
                <input name="sujet0" type="text"><br />
                <input name="comm0" type="text"><br />
            </td>
            <td class="photosPetit">
                <input type="button" name="act" value="Ajouter" class="photoModifAction" onclick="ajouterPhoto();">
            </td>
        </tr>
        
    </table>

    {{!-- Pour savoir sur quelle photo on clique --}}
    <input id="phonum" hidden name="phonum" value="">

</form>
<div class="banniere">
    <br /><br />
    <a class="photoModifAction" href="/gestionPilotes">Retour</a><br /><br />
</div>


<script language="javascript">
    /**
    **  Pour récupérer les informations de la photo en cours de modification uniquement
    */
    function changePhonum(id){
        if(id != 0){
            document.getElementById("phonum").value = id;
            document.getElementsByName("imgOriginale" + id)[0].name = "imgOriginale";
        }

        document.getElementsByName("sujet" + id)[0].name = "sujet";
        document.getElementsByName("comm" + id)[0].name = "comm";
        document.getElementsByName("img" + id)[0].name = "img";

        document.getElementById("formPhotos").submit(); 
    }

    /**
    **  Pour spécifier que l'on souhaite supprimer une photo
    */
    function suppPhoto(id){
        document.getElementById("formPhotos").action += "/Supprimer";
        changePhonum(id);
    }

    /**
    **  Pour spécifier que l'on souhaite ajouter une photo
    */
    function ajouterPhoto(){
        document.getElementById("formPhotos").action += "/Ajouter";
        changePhonum(0);
    }
</script>




{{/if}}