
<div class="banniere">
    <img src="/image/cat_pilote.png" alt="logo">
    {{#if pilotes}}

    <h1>Gestion des pilotes</h1>

    <a href="/gestionPilotes/Ajout"><img src="/image/act_add.png" alt="logoAjout"> Ajouter un pilote</a>
    
    {{else}}
    {{#if pilote}}
    <h1>Modifier un pilote</h1>
    {{else if suppression}}
    <h1>Supprimer un pilote</h1>
    {{else}}
    <h1>Ajouter un pilote</h1>
    {{/if}}

    {{/if}}


</div>


<br /><br />


{{#if pilotes}}
<table id="gestionPilotes">
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date de naissance</th>
        <th>Actions</th>
    </tr>
    {{#each pilotes}}
    <tr>
        <td>{{this.pilnom}}</td>
        <td>{{this.pilprenom}}</td>
        <td>{{this.dateNais}}</td>
        <td>
            <a href="/gestionPilotes/ModifierPilote/{{this/pilnum}}"><img src="/image/act_edit.png" alt="logoModification"> Modifier</a>
            <a href="/gestionPilotes/SupprimerPilote/{{this/pilnum}}"><img src="/image/act_delete.png" alt="logoSuppression"> Supprimer</a>
            <a href="/gestionPilotes/ModifierPhotos/{{this/pilnum}}"><img src="/image/act_edit.png" alt="logoPhotos"> Photos</a>
        </td>
    </tr>
    {{/each}}
</table>
{{else if pays}}

{{#if pilote}}
<form action="/gestionPilotes/ModifierPilote" enctype="multipart/form-data" method="POST" id="ajoutPil">
{{else}}
<form action="/gestionPilotes/AjoutPilote" enctype="multipart/form-data" method="POST" id="ajoutPil">
{{/if}}

    <table>
        <tr>
            <td><label>Prénom</label></td>
            <td><input type="text" name="prenom"{{#if pilote}}
                value="{{pilote.pilprenom}}"
                {{/if}}></td>
        </tr>
        <tr>
            <td><label>Nom</label></td>
            <td><input type="text" name="nom"{{#if pilote}}
                value="{{pilote.pilnom}}"
                {{/if}}></td>
        </tr>
        <tr>
            <td><label>Date de naissance</label></td>
            <td>
                <input class="dateNaissForm" type="number" min="0" max="31" name="dateNaisJour" {{#if dateJour}}
                    value="{{dateJour}}"
                {{/if}}>/
                <input class="dateNaissForm" type="number" min="0" max="12" name="dateNaisMois"{{#if dateMois}}
                    value="{{dateMois}}"
                {{/if}}>/
                <input class="dateNaissForm" type="number" min="0" name="dateNaisAnnee"{{#if dateAnnee}}
                    value="{{dateAnnee}}"
                {{/if}}>
            </td>
        </tr>
        <tr>
            <td><label>Nationalité</label></td>
            <td>
                <select name="natio">
                    {{#each pays}}
                    <option value="{{this.paynum}}">{{this.paynom}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Écurie</label></td>
            <td>
                <select name="ecurie">
                    {{#each ecuries}}
                    <option value="{{this.ecunum}}">{{this.ecunom}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Points</label></td>
            <td><input type="number" min="0" name="points"{{#if pilote}}
                value="{{pilote.pilpoints}}"
                {{else}}
                value="0"
                {{/if}}> pts</td>
        </tr>
        <tr>
            <td><label>Poids</label></td>
            <td><input type="number" min="0" name="poids"{{#if pilote}}
                value="{{pilote.pilpoids}}"
                {{else}}
                value="0"
                {{/if}}> kg</td>
        </tr>
        <tr>
            <td><label>Taille</label></td>
            <td><input type="number" min="0" name="taille"{{#if pilote}}
                value="{{pilote.piltaille}}"
                {{else}}
                value="0"
                {{/if}}> cm</td>
        </tr>
        <tr>
            <td>
                <label class="tooltip">Image principale
                <span>
                    <label>Vous pouvez en ajouter d'autres via la catégorie appropriée</label>
                </span>
                </label>
            </td>
            {{#if pilote}}
            <td><img id="imgEcurieModif" src="/image/pilote/{{pilote.phoadresse}}" alt="Image actuelle" />
            {{!-- Ici, on stock l'adresse de l'ancienne image --}}
            <input hidden type="text" name="imgOriginale" value="{{pilote.phoadresse}}" >
            <input type="file" id="img" name="img" ></td>
            {{else}}
            <td><input required type="file" id="img" name="img" ></td>
            {{/if}}
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><textarea  id="desc" name="desc">{{#if pilote}}{{pilote.piltexte}}{{/if}}</textarea></td>
        </tr>
        <tr>
            <td></td>
            {{#if pilote}}
            <td><input id="submitAjoutPilote" type="submit" value="MODIFIER"></td>
            {{else}}
            <td><input id="submitAjoutPilote" type="submit" value="AJOUTER"></td>
            {{/if}}
        </tr>
    </table>

    <input hidden name="id" value="{{pilote.pilnum}}">


</form>
{{else}}
<div class="banniere">
    <h2>Modification effectuée</h2>
</div>
{{/if}}

