
<div class="banniere">
    <img src="/image/cat_circuit.png" alt="logo">
    {{#if circuits}}

    <h1>Gestion des circuits</h1>

    <a href="/gestionCircuits/Ajout"><img src="/image/act_add.png" alt="logoAjout"> Ajouter un circuit</a>
    
    {{else}}
        {{#if circuit}}
        <h1>Modifier un circuit</h1>
        {{else if suppression}}
        <h1>Supprimer un circuit</h1>
        {{else}}
        <h1>Ajouter un circuit</h1>
        {{/if}}

    {{/if}}


</div>


<br /><br />


{{#if circuits}}
<table id="gestionCircuits">
    <tr>
        <th>Nom</th>
        <th>Longueur</th>
        <th>Nombre de spectateurs</th>
        <th>Actions</th>
    </tr>
    {{#each circuits}}
    <tr>
        <td>{{this.cirnom}}</td>
        <td>{{this.cirlongueur}} m</td>
        <td>{{this.cirnbspectateurs}}</td>
        <td>
            <a href="/gestionCircuits/ModifierCircuit/{{this.cirnum}}"><img src="/image/act_edit.png" alt="logoModification"> Modifier</a>
            <a href="/gestionCircuits/SupprimerCircuit/{{this.cirnum}}"><img src="/image/act_delete.png" alt="logoSuppression"> Supprimer</a>
        </td>
    </tr>
    {{/each}}
</table>
{{else if pays}}

{{#if circuit}}
<form action="/gestionCircuits/ModifierCircuit" enctype="multipart/form-data" method="POST" id="ajoutCir">
{{else}}
<form action="/gestionCircuits/AjoutCircuit" enctype="multipart/form-data" method="POST" id="ajoutCir">
{{/if}}

    <table>
        <tr>
            <td><label>Nom</label></td>
            <td><input required type="text" name="nom"{{#if circuit}}
                value="{{circuit.cirnom}}"
                {{/if}}></td>
        </tr>
        <tr>
            <td><label>Longueur</label></td>
            <td><input required type="number" min="0" name="longueur"{{#if circuit}}
                value="{{circuit.cirlongueur}}"
                {{else}}
                value="0"
                {{/if}}></td>
        </tr>
        <tr>
            <td><label>Nationalité</label></td>
            <td>
                <select name="pays">
                    {{#each pays}}
                    <option value="{{this.paynum}}" {{#ifCond this.paynum "==" ../circuit.paynum}} selected {{/ifCond}}>{{this.paynom}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Image</label></td>
            {{#if circuit}}
            <td><img id="imgCircuitModif" src="/image/circuit/{{circuit.ciradresseimage}}" alt="Ancienne image" />
            {{!-- Ici, on stock l'adresse de l'ancienne image --}}
            <input hidden type="text" name="imgCircuitOriginal" value="{{circuit.ciradresseimage}}" >
            <input type="file" id="img" name="img" ></td>
            {{else}}
            <td><input required type="file" id="img" name="img" ></td>
            {{/if}}
        </tr>
        <tr>
            <td><label>Nombre de spectateurs</label></td>
            <td><input required type="number" min="0" name="nbspectateurs"{{#if circuit}}
                value="{{circuit.cirnbspectateurs}}"
                {{else}}
                value="0"
                {{/if}}> personnes</td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><textarea required id="desc" name="desc">{{#if circuit}}{{circuit.cirtext}}{{/if}}</textarea></td>
        </tr>
        <tr>
            <td></td>
            {{#if circuit}}
            <td><input id="submitAjoutCircuit" type="submit" value="MODIFIER"></td>
            {{else}}
            <td><input id="submitAjoutCircuit" type="submit" value="AJOUTER"></td>
            {{/if}}
        </tr>
    </table>

    <input hidden name="id" value="{{circuit.cirnum}}">


</form>
{{else}}
<div class="banniere">
    <h2>Modification effectuée</h2>
</div>
{{/if}}