
<div class="banniere">
    <img src="/image/cat_ecurie.png" alt="logo">
    {{#if ecuries}}

    <h1>Gestion des écuries</h1>

    <a href="/gestionEcuries/Ajout"><img src="/image/act_add.png" alt="logoAjout"> Ajouter une écurie</a>
    
    {{else}}
        {{#if ecurie}}
        <h1>Modifier une écurie</h1>
        {{else if suppression}}
        <h1>Supprimer une écurie</h1>
        {{else}}
        <h1>Ajouter une écurie</h1>
        {{/if}}

    {{/if}}


</div>


<br /><br />


{{#if ecuries}}
<table id="gestionEcurie">
    <tr>
        <th>Nom</th>
        <th>Directeur</th>
        <th>Points</th>
        <th>Actions</th>
    </tr>
    {{#each ecuries}}
    <tr>
        <td>{{this.ecunom}}</td>
        <td>{{this.ecunomdir}} m</td>
        <td>{{this.ecupoints}}</td>
        <td>
            <a href="/gestionEcuries/ModifierEcurie/{{this.ecunum}}"><img src="/image/act_edit.png" alt="logoModification"> Modifier</a>
            <a href="/gestionEcuries/SupprimerEcurie/{{this.ecunum}}"><img src="/image/act_delete.png" alt="logoSuppression"> Supprimer</a>
        </td>
    </tr>
    {{/each}}
</table>
{{else if pays}}

{{#if ecurie}}
<form action="/gestionEcuries/ModifierEcurie" enctype="multipart/form-data" method="POST" id="ajoutCir">
{{else}}
<form action="/gestionEcuries/AjoutEcurie" enctype="multipart/form-data" method="POST" id="ajoutCir">
{{/if}}

    <table>
        <tr>
            <td><label>Nom</label></td>
            <td><input required type="text" name="nom"{{#if ecurie}}
                value="{{ecurie.ecunom}}"
                {{/if}}></td>
        </tr>
        <tr>
            <td><label>Directeur</label></td>
            <td><input required type="text" name="dir"{{#if ecurie}}
                value="{{ecurie.ecunomdir}}"
                {{/if}}></td>
        </tr>
        <tr>
            <td><label>Adresse du siège</label></td>
            <td><input id="adrSiege" required type="text" name="adr"{{#if ecurie}}
                value="{{ecurie.ecuadrsiege}}"
                {{/if}}></td>
        </tr>
        <tr>
            <td><label>Points</label></td>
            <td><input required type="number" min="0" name="pts"{{#if ecurie}}
                value="{{ecurie.ecupoints}}"
                {{else}}
                value="0"
                {{/if}}> pts</td>
        </tr>
        <tr>
            <td><label>Nationalité</label></td>
            <td>
                <select name="pays">
                    {{#each pays}}
                    <option value="{{this.paynum}}" {{#ifCond this.paynum "==" ../ecurie.paynum}} selected {{/ifCond}}>{{this.paynom}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Image</label></td>
            {{#if ecurie}}
            <td><img id="imgEcurieModif" src="/image/ecurie/{{ecurie.ecuadresseimage}}" alt="Ancienne image" />
            {{!-- Ici, on stock l'adresse de l'ancienne image --}}
            <input hidden type="text" name="imgEcurieOriginal" value="{{ecurie.ecuadresseimage}}" >
            <input type="file" id="img" name="img" ></td>
            {{else}}
            <td><input required type="file" id="img" name="img" ></td>
            {{/if}}
        </tr>
        <tr>
            <td></td>
            {{#if ecurie}}
            <td><input id="submitAjoutEcurie" type="submit" value="MODIFIER"></td>
            {{else}}
            <td><input id="submitAjoutEcurie" type="submit" value="AJOUTER"></td>
            {{/if}}
        </tr>
    </table>

    <input hidden name="id" value="{{ecurie.ecunum}}">


</form>
{{else}}
<div class="banniere">
    <h2>Modification effectuée</h2>
</div>
{{/if}}