<table class="tabpayscir">
    {{#each listeCircuit}}
        <tr><td><img class="imgPays" src="/image/pays/{{this.payadrdrap}}" alt="drapeau du pays" />
            <a href="/detailCircuit/{{this.cirnum}}"> {{this.cirnom}}</a>
        </td></tr>
    {{/each}}
</table>
<br class="myboth" />