<label class="ligne">Cliquez sur une lettre : </label>
<table class="tabLettresPilotes ligne">
    <tr>
        {{#each listeLettresPilotes}}
        <td class="lettre">
            <a href="/repertoirePilote/{{this.lettre}}"> {{this.lettre}}</a>
        </td>
        {{/each}}
    </tr>
</table>